@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #38BDF8;
  --color-accent: #10B981;
  --color-background: #F9FAFB;
  --color-text: #111827;
  --color-error: #EF4444;
  --text-body: text-lg;
  --text-small: text-sm;
  --text-tiny: text-xs;
}

.heading {
  @apply text-[36px] font-bold;
}

.subheading {
  @apply text-[25px] font-semibold;
}

.body {
  @apply text-[16px];
}

.small{
  @apply text-[14px];
}

.tiny{
  @apply text-[12px];
}

